@charset "UTF-8";

/* Importando as fontes do google fontes;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paleta de cores*/

:root{
    --cor-nav: #103B24;
    --cor-body: #F2F2F2;
    --cor-01: #7FDBAA;

    --fonte-1: 'Montserrat', sans-serif;
    --fonte-2: 'Poppins',sans-serif;
}

/* Configurações de caracter gerais
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

