@charset "UTF-8";

/* Importando as fontes do google fontes;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paleta de cores*/

:root{
    --cor-nav: #103B24;
    --cor-body: #F2F2F2;
    --cor-01: #7FDBAA;

    --fonte-1: 'Montserrat', sans-serif;
    --fonte-2: 'Poppins',sans-serif;
}

/* Configurações de caracter gerais
*/


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor-body);
    height: 900px;
}
main{
    background-color: var(--cor-body);
    margin:auto;
    max-width: 1200px;
    
}

header{
    background-color: var(--cor-body);
    height: 180px;
    box-shadow: 1px 1px 6px rgba(78, 78, 78, 0.274);
    margin-bottom: 20px;
}


.titulo-main{
    color: var(--cor-nav);
    font-family: var(--fonte-1);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 48px;

}

.nav-header{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    gap: 20px;
   
}

.listas-menu{
    text-decoration: none;
    list-style: none;
    color: var(--cor-01);
    font-size: 19px;
    font-weight: bold;
    padding-right: 16px;

}

.listas-menu:hover{
    text-decoration: underline;
    transition: 0.4s;
    color: var(--cor-nav);
    transform:translateX(4px);
}

.listas{
    list-style: none;
}