@charset "UTF-8";

/* Importando as fontes do google fontes;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paleta de cores*/

:root{
    --cor01: #FFFFFF;
    --cor02: #EBF0F2;
    --cor03: #9BA9B1;
    --cor04: #3F4B66;
    --cor05: #1E1F1F;

    --fonte-1: 'Montserrat', sans-serif;
    --fonte-2: 'Poppins',sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
}

body{
    background-color: #f2f2f2;
    height: 1300px;
    overflow-y: auto;
   
}

main{
    max-width: 1560px;
    margin: auto;
    height: 700px;
    padding-left: 30px;
}

header{
    top: 0;
    position: fixed;
    box-shadow: 2px 2px 7px rgba(102, 102, 102, 0.534);
}

.navegacao{
    background-color: var(--cor01);
    display: flex;
    justify-content: right;
    width: 100vw;
}

nav > a {
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    padding-right: 20px;
    font-family: var(--fonte-2);
    font-weight: 500;
    color: var(--cor05);
}

nav > a:hover{
    text-decoration: underline;
}

.icon{
    font-size: 23px;
}

.titulo-principal{
    text-align: center;
    padding-top: 20px;
    font-family: var(--fonte-2);
    font-weight: 300;
    font-size: 33px;
    background-color: white;
   
}

.titulo-section{
    font-family: var(--fonte-2);
    font-size: 27px;
    font-weight: 400;
    margin-top: 6em;
  
    transition: 2s;
}

.strong{
    color: var(--cor05);
}

.div-titulo{
    background-color: #1E1F1F;
    width: 100px;
    height: 3px;
}

.paragrafo-section1{
    padding-top: 15px;
    font-weight: 400;
    font-family: var(--fonte-2);
    color: #1E1F1F;
    margin-bottom: 50px;
}

.img{
    display: flex;
    justify-content: right;
    width: 90vw;
}

.div-img{
    width: 330px;
    height: 300px;
    padding-left: 30px;
}

.paragrafo-img{
    font-weight: 600;
    font-family: var(--fonte-2);
    color: white;
    padding: 20px;
    background-color: var(--cor05);
    height: 90px;
    border-radius: 10px;
}

.img-div-1{
    background-image: url('/img/header-mode.png');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.h3-section2{
    font-family: var(--fonte-2);
    font-size: 27px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
}

.div-titulo1{
    background-color: #1E1F1F;
    width: 100px;
    height: 3px;
    
}

.paragrafo-principal{
    height: 900px;
    max-width: 700px;
    margin: auto;
    padding-right: 20px;
}

.paragrafos-section{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    font-family: var(--fonte-1);
    text-indent: 30px;
    line-height: 30px;
}

.footer-section{
    margin-top: 150px;

}
.paragrafo-footer{
    color: rgba(82, 82, 82, 0.425);
    text-align: center;
    padding-bottom: 20px;
}